<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.controller.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>restaurantdetailServlet</servlet-name>
  	<display-name>restaurantdetailServlet</display-name>
  	<description></description>
  	<servlet-class>com.foodorder.controller.restaurantdetailServlet</servlet-class>
  </servlet>
 
<servlet>
	<servlet-name>fooditemsServlet</servlet-name>
	<display-name>fooditemsServlet</display-name>
	<description></description>
	<servlet-class>com.foodorder.controller.fooditemsServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>fooditemsServlet</servlet-name>
	<url-pattern>/fooditemsServlet</url-pattern>
</servlet-mapping>
</web-app>