<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://JAVA.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<servlet>
		<description>
		</description>
		<display-name>OrderfoodServlet</display-name>
		<servlet-name>OrderfoodServlet</servlet-name>
		<servlet-class>com.foodorder.controller.OrderfoodServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderfoodsServlet</display-name>
		<servlet-name>OrderfoodsServlet</servlet-name>
		<servlet-class>com.foodorder.controller.OrderfoodsServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserviewServlet</display-name>
		<servlet-name>UserviewServlet</servlet-name>
		<servlet-class>com.foodorder.controller.UserviewServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserprofileServlet</display-name>
		<servlet-name>UserprofileServlet</servlet-name>
		<servlet-class>com.foodorder.controller.UserprofileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderfoodServlet</servlet-name>
		<url-pattern>/OrderfoodServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderfoodsServlet</servlet-name>
		<url-pattern>/OrderfoodsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserviewServlet</servlet-name>
		<url-pattern>/UserviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserprofileServlet</servlet-name>
		<url-pattern>/UserprofileServlet</url-pattern>
	</servlet-mapping>

	
	
	
	


</web-app>

